@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&family=Roboto:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utility */
.icon {
	vertical-align: middle;
}

textarea {
	resize: none;
}

textarea,
input {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
}

.btn {
	padding: 10px 0px;
	width: 200px;
	cursor: pointer;
	color: var(--whiteBlue);
	background-color: #06283d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 0.8em;
}

.btn:disabled {
	background-color: lightgray;
}

hr {
	margin: 5px 0;
	padding: 0.5px;
	background-color: #313131;
	border: none;
}

.no-info {
	margin-bottom: 3px;
	font-weight: lighter;
	text-transform: uppercase;
}

/* end utility */

:root {
	--white: #fff;
	--darkBlue: #06283d;
	--purpleBlue: #1363df;
	--lightBlue: #47b5ff;
	--whiteBlue: #dff6ff;
	--matteRed: #94181a;
}

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: var(--lightBlue);
}

/* Header styling */
header {
	padding: 10px 0;
	background-color: var(--darkBlue);
	color: var(--white);
	display: flex;
	justify-content: center;
	gap: 20px;
	color: var(--whiteBlue);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

header h1 {
	font-size: 3rem;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: 300;
	user-select: none;
}

.send-icon {
	font-size: 3rem;
}

/* CV container */
.cv-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-column-gap: 50px;
	grid-row-gap: 20px;
	padding: 50px;
}

.cv-container > div {
	background-color: var(--whiteBlue);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cv-container .add-edu-btn {
	margin-top: 10px;
}

.cv-container .cv-form-container {
	border-radius: 5px;
	padding: 0 20px 20px 20px;
	grid-row: 1 / span 2;
	grid-column: 1 / 2;
}

.cv-container .cv-form-container h1 {
	color: var(--darkBlue);
	font-size: 1.3rem;
	margin-top: 20px;
}

#skills-cv-form {
	margin-bottom: 10px;
}

.add-skill-btn {
	display: block;
	margin-bottom: 20px;
}

.cv-form-section {
	margin-top: 10px;
}

.user-input-section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.user-input-section .remove-btn {
	padding: 10px;
	margin-bottom: 20px;
	background-color: var(--matteRed);
	color: var(--whiteBlue);
	border: 1px solid var(--whiteBlue);
	outline: none;
	width: unset;
	text-transform: uppercase;
}

.user-input-section input,
.user-input-section textarea {
	padding: 5px;
	font-size: 15px;
	color: var(--lightBlue);
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.user-input-section input:focus,
.user-input-section textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/************************************************************
Styling for CVPreview 
*************************************************************/
.cv-container .cv-preview-container {
	position: sticky;
	top: 20px;
	height: 100vh;
	padding: 20px;
	background-color: white;
}

/*----------------------------------------------------------- 
Preview Header Styles 
-------------------------------------------------------------*/
.cv-preview-container .cv-preview-header {
	background-color: #ececec;
	display: flex;
	border-top: 10px solid #313131;
	padding: 20px;
	margin-bottom: 10px;
}

.cv-preview-header .header-left {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 3;
}

.header-left h1 {
	font-size: 2rem;
	font-weight: 300;
}

.header-left .personal-info-light {
	font-weight: 300;
}

.cv-preview-header .header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: center;
	gap: 5px;
	flex: 2;
}

.header-right p {
	display: flex;
	font-weight: 300;
	font-size: 1.2rem;
}

.header-right p .icon {
	font-size: 1.5rem;
	margin-right: 5px;
}

.cv-preview-header-text {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
}

.cv-preview-experience .cv-preview-current-experience {
	padding: 3px 15px;
}

#company-name,
.position-info,
.responsibilities {
	margin-bottom: 5px;
}

.cv-preview-current-experience #company-name {
	text-transform: uppercase;
}

#company-location {
	font-weight: 300;
	text-transform: initial;
}

.cv-preview-current-experience .position-info {
	display: flex;
	justify-content: space-between;
}

.position-info p {
	font-weight: lighter;
	font-style: italic;
}

/* Education preview css */
.common-class {
	/* background-color: blue; */
	padding: 0px 15px;
	margin-bottom: 5px;
}

.education-cv-preview * {
	margin-bottom: 3px;
}

.education-cv-preview .school-info {
	display: flex;
	justify-content: space-between;
}

.education-cv-preview .school-info * {
	margin-bottom: 0;
}

#minor-info,
#description-info {
	padding-left: 5px;
	font-size: 14px;
	font-weight: lighter;
}

#education-date,
#major-info,
#date-info {
	font-style: italic;
	font-weight: lighter;
}
/* Project preview css */
#project-description-preview {
	font-weight: lighter;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header {
		gap: 5px;
	}

	header h1 {
		padding: 10px 0;
		font-size: 20px;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: 300;
		user-select: none;
	}

	.send-icon {
		padding-top: 10px;
		font-size: 2rem;
	}

	.cv-container {
		grid-template-columns: 1fr;
		grid-row-gap: 30px;
		padding: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
